#jinja2: lstrip_blocks: True

{% if keepalived_show_ansible_managed|bool %}
{{ ansible_managed | comment }}
{% endif %}

{% if keepalived_global_defs is defined %}
global_defs {
{% for def in keepalived_global_defs %}
  {{ def }}
{% endfor %}
}
{% endif %}


{% if keepalived_scripts is defined %}
{% for name, details in keepalived_scripts.items() %}
vrrp_script {{ name }} {
  script "{{ details.check_script }}"
  interval {{ details.interval | default(5) }}   # checking every {{ details.interval | default(5) }} seconds (default: 5 seconds)
  fall {{ details.fall | default(3) }}           # require {{ details.fall | default(3) }} failures for KO (default: 3)
  rise {{ details.rise | default(6) }}           # require {{ details.rise | default(6) }} successes for OK (default: 6)
  {% if details.weight is defined %}
  weight {{ details.weight | default(0) }}       # adjust priority by this weight, (default: 0)
  {% endif %}
  {% if details.timeout is defined %}
  timeout {{ details.timeout }}                  # allow scripts like ping to succeed, before timing out
  {% endif %}
  {% if details.user is defined %}
  user {{ details.user }}                        # user/group names to run script under.
  {% endif %}
}
{% endfor %}
{% endif %}

{% for name, instance in keepalived_instances.items() %}
vrrp_instance {{ name }} {
    notify /etc/keepalived/notify.sh
    unicast_src_ip {{ src_ip }}
    